{% extends 'home/base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block activeHomeNav %}active{% endblock %}
{% block content %}
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area" id="home">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner_content">
                            <h3 class="text-uppercase">Hell0</h3>
                            <h1 class="text-uppercase">I am okwuzu jude<br>
                                <small style="text-transform: lowercase">
                                    a.k.a shadownet
                                    <span style="text-transform: uppercase">z</span>
                                </small>
                            </h1>
                            <h5 class="text-uppercase">full stack web developer</h5>
                            <div class="d-flex align-items-center">
                                <a class="primary_btn" href="{% url 'shadownetz:contact' %}"><span>Hire Me</span></a>
                                <a class="primary_btn tr-bg" href="#" type="button" data-toggle="modal" data-target="#resumeModal"><span>Get CV</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home_right_img">
                            <img class="" src="{% static 'home/img/banner/home-right.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start About Us Area =================-->
    <section class="about_area section_gap" id="about">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="{% static 'home/img/about-us.png' %}" alt="">
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h2>let’s <br>
                            Introduce about <br>
                            myself</h2>
                        <p>
                            I go by the name Okwuzu Jude. 4 years ago was when i started my journey as a web developer.
                            I began as a front end developer then went into Vue.js framework.
                        </p>
                        <p>
                            My life as a full stack developer then became complete when i began my Python tutorials and then dived
                            into Django Framework which i have been working with ever since. Currently this site was developed using
                            Django Framework.
                        </p>
                        Life as a developer has its ups and downs but someone once said
                        <blockquote cite="https://www.thecoderpedia.com/blog/programming-quotes/">
                            Most good programmers do programming not because they expect to get paid or get adulation by the public, but it is fun to program.
                        </blockquote>
                        <a class="primary_btn" href="{% static 'home/img/MyResume.png' %}" download="shadownetZ_Resume.png"><span>Download CV</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->

    <!--================ Srart Brand Area =================-->
    <section class="brand_area section_gap_bottom" id="brand">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo1.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo4.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo5.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo6.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo7.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo8.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-brand-item d-table">
                                <div class="d-table-cell text-center">
                                    <img src="{% static 'home/img/brands/logo9.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-4 col-md-6">
                    <div class="client-info">
                        <div class="d-flex mb-50">
                            <span class="lage">4</span>
                            <span class="smll">Years Experience Working</span>
                        </div>
                        <div class="call-now d-flex">
                            <div>
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="ml-15">
                                <p>call me now</p>
                                <h3>(+234)90-688-102-77</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Brand Area =================-->

    <!--================ Start Features Area =================-->
    <section class="features_area" id="services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>service offers </h2>
                        <p>
                            Below are different categories of web services i offer
                        </p>
                    </div>
                </div>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static 'home/img/services/s1.png' %}" alt="">
                        <h4>E-commerce Platform</h4>
                        <p>
                            You wish to give your business an online recongnition? Don't worry i got you covered.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static 'home/img/services/s2.png' %}" alt="">
                        <h4>UI/ux design</h4>
                        <p>
                            Get in touch with me now.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static 'home/img/services/s3.png' %}" alt="">
                        <h4>Web design</h4>
                        <p>
                            Get in touch with me now.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature_item">
                        <img src="{% static 'home/img/services/s4.png' %}" alt="">
                        <h4>seo optimize</h4>
                        <p>
                            Need faster web search?. Get in touch with me now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Features Area =================-->

    <!--================Start Portfolio Area =================-->
    <section class="portfolio_area" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title text-left">
                        <h2>Recently done project </h2>
                    </div>
                </div>
            </div>
            <div class="filters portfolio-filter">
                <ul>
                    <li class="active" data-filter="*">all</li>
                    <li data-filter=".popular">popular</li>
                    <li data-filter=".latest"> latest</li>
                    <li data-filter=".following">following</li>
                    <li data-filter=".upcoming">upcoming</li>
                </ul>
            </div>

            <div class="filters-content">
                <div class="row portfolio-grid justify-content-center">
                    <div class="col-lg-4 col-md-6 all latest">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p1.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p1.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">minimal design</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all popular">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p2.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p2.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">Paint wall</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all latest">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p3.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p3.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">female light</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all popular">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p4.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p4.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">fourth air</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p6.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p5.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">together sign</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p5.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p6.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">multiply fowl</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p7.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p7.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">green heaven</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all following">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p8.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p8.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4>fly male</h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 all upcoming">
                        <div class="portfolio_box">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="{% static 'home/img/portfolio/p9.jpg' %}" alt="">
                                <div class="overlay"></div>
                                <a href="{% static 'home/img/portfolio/p9.jpg' %}" class="img-gal">
                                    <div class="icon">
                                        <span class="lnr lnr-cross"></span>
                                    </div>
                                </a>
                            </div>
                            <div class="short_info">
                                <h4><a href="#">season face</a></h4>
                                <p>Animated, portfolio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Portfolio Area =================-->

    <!--================ Start Testimonial Area =================-->
    <div class="testimonial_area section_gap_bottom" id="testimonies">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>client say about me</h2>
                        <p>It takes two to Tango!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testi_slider owl-carousel">
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static 'home/img/testimonials/t1.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Elite Martin</h4>
                                    <p>Great work mate!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{% static 'home/img/testimonials/t2.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-8">
                                <div class="testi_text">
                                    <h4>Davil Saden</h4>
                                    <p>Love your works bro. I wish i had known you sooner.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ End Testimonial Area =================-->

    <!--================ Start Newsletter Area =================-->
    <section class="newsletter_area" id="newsletter">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12">
                    <div class="subscription_box text-center">
                        <h2 class="text-uppercase text-white">Subscribe to my Newsletter</h2>
                        <p class="text-white">
                            Get new updates on my plans and posts on my blog.
                        </p>
                        <div class="subcribe-form" id="mc_embed_signup">
                            <form novalidate action="" method="post" class="subscription relative" id="js-newsletterform">
                                {% csrf_token %}
                                {{ newsletterform.email }}
                                <input type="hidden" value="{% url 'shadownetz:newslettersignup' %}" id="nwsletterlnk">
                                {#                                <div style="position: absolute; left: -5000px;">#}
                                {#                                    <input name="" tabindex="-1" value="" type="text">#}
                                {#                                </div>#}
                                <button class="primary-btn hover d-inline" type="button" id="js-newsletterbtn">Get Started</button>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Newsletter Area =================-->

    <!-- Resume Modal -->
    <div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="ResumeModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
{#                    <h5 class="modal-title" id="ResumeModalLongTitle">Modal title</h5>#}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid" src="{% static 'home/img/MyResume.png' %}" alt="shadownetzResume">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
