{% extends 'blog/base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block activeHomeNav %}active{% endblock %}
{% block style %}
    <style>
        .post-img{
            width:100px; height:60px;
            background: center center no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Blog</h2>
                    <div class="page_link">
                        <a href="{% url 'shadownetz:index' %}">Home</a>
                        <a href="{% url 'shadownetz_blog:index' %}">Our Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->

    {% if not ready %}
        <section class="blog_area section_gap_top">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Content is still in creation.</h2>
                        <p>please check back later for amazing contents <i class="fa fa-heart-o" aria-hidden="true"></i>.</p>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <!--================Blog Categorie Area =================-->
        <section class="blog_categorie_area section_gap_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/programming.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_developershub:index' %}">
                                <div class="categories_text">
                                    <a href="{% url 'shadownetz_blog:shadownetz_developershub:index' %}"><h5>Developers Hub</h5></a>
                                    <div class="border_line"></div>
                                    <p>Coding has never been fun</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/cat-post-3.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_social_life:index' %}">
                                <div class="categories_text">
                                    <a href="{% url 'shadownetz_blog:shadownetz_social_life:index' %}"><h5>Social Life</h5></a>
                                    <div class="border_line"></div>
                                    <p>Enjoy your social life together</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_foodblog:index' %}">
                                <div class="categories_text">
                                    <a href="{% url 'shadownetz_blog:shadownetz_foodblog:index' %}"><h5>Food</h5></a>
                                    <div class="border_line"></div>
                                    <p>Let the food be finished</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/sport.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_sports:index' %}">
                                <div class="categories_text">
                                    <a href="#"><h5>Sports</h5></a>
                                    <div class="border_line"></div>
                                    <p>Engage yourself nevertheless</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/movies.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_movieblog:index' %}">
                                <div class="categories_text">
                                    <a href="{% url 'shadownetz_blog:shadownetz_movieblog:index' %}"><h5>Movies</h5></a>
                                    <div class="border_line"></div>
                                    <p>Enjoy your leisure hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categories_post">
                            <img src="{% static 'blog/img/blog/cat-post/trending.jpg' %}" alt="post">
                            <div class="categories_details js-blog-category" link="{% url 'shadownetz_blog:shadownetz_trendingblog:index' %}">
                                <div class="categories_text">
                                    <a href="{% url 'shadownetz_blog:shadownetz_trendingblog:index' %}"><h5>Trending</h5></a>
                                    <div class="border_line"></div>
                                    <p>Lets discover something new together</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Categorie Area =================-->

        <!--================Blog Area =================-->
        <section class="blog_area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">
                            {% if blogs %}
                                {% for blog in blogs %}
                                    <article class="row blog_item">
                                        <div class="col-md-3">
                                            <div class="blog_info text-right">
                                                <div class="post_tag">
                                                    <a href="#">{{ blog.tags }}</a>
                                                    {#                                                    <a href="#">Food,</a>#}
                                                    {#                                                    <a class="active" href="#">Technology,</a>#}
                                                    {#                                                    <a href="#">Politics,</a>#}
                                                    {#                                                    <a href="#">Lifestyle</a>#}
                                                </div>
                                                <ul class="blog_meta list">
                                                    <li><a href="#">
                                                        <span style="display:inline-block;width:100px;word-wrap: break-word">
                                                            {% if blog.user %}
                                                                {{ blog.user }}
                                                            {% else %}
                                                                {{ blog.author }}
                                                            {% endif %}
                                                        </span><i class="lnr lnr-user"></i></a>
                                                    </li>
                                                    <li><a href="#">{{ blog.date_created|date }}<i class="lnr lnr-calendar-full"></i></a></li>
                                                    <li><a href="#">{{ blog.views }} Views<i class="lnr lnr-eye"></i></a></li>
                                                    <li><a href="#">{{ blog.comments }} Comments<i class="lnr lnr-bubble"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="blog_post">
                                                <img src="{{ blog.display_image }}" alt="" style="width:555px;height:280px">
                                                <div class="blog_details">
                                                    <a href="{% if not blog.user %} {{ blog.url }}{% endif %}" target="_blank"><h2>{{ blog.title }}</h2></a>
                                                    {% if not blog.user %}
                                                        <a href="https://newsapi.org" target="_blank"><code>Powered by News API</code></a>
                                                    {% endif %}
                                                    <p>
                                                        {% autoescape off %}
                                                            {{ blog.content}}
                                                            {% if not blog.user %}
                                                                <a href="{{ blog.url }}" target="_blank">Click here to read more <i class="fa fa-hand-pointer-o"></i> </a>
                                                            {% endif %}
                                                        {% endautoescape %}
                                                    </p>
                                                    {#                                                    <a href="{% url 'shadownetz_blog:shadownetz_developershub:display_blog' %}?post-id={{ blog.id }}" class="primary_btn"><span>View More</span></a>#}
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <section class="blog_area section_gap_top">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h2>Nothing Here.</h2>
                                                <p>please check back other pages more for amazing contents <i class="fa fa-heart-o" aria-hidden="true"></i>.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}


                            <nav class="blog-pagination justify-content-center d-flex">
                                {% if blogs.has_other_pages %}
                                    <ul class="pagination">
                                        {% if blogs.has_previous %}
                                            <li class="page-item">
                                                {% if request.GET.q %}
                                                    <a href="{% url 'shadownetz_blog:index' %}?q={{ request.GET.q }}&page={{ blogs.previous_page_number }}" class="page-link" aria-label="Previous">
                                                {% else %}
                                                    <a href="{% url 'shadownetz_blog:index' %}?page={{ blogs.previous_page_number }}" class="page-link" aria-label="Previous">
                                                {% endif %}
                                                <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in blogs.paginator.page_range %}
                                            {% if request.GET.q %}
                                                <li class="page-item">
                                                    <a href="{% url 'shadownetz_blog:index' %}?q={{ request.GET.q }}&page={{ i }}" class="page-link">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a href="{% url 'shadownetz_blog:index' %}?page={{ i }}" class="page-link">{{ i }}</a>
                                                </li>
                                            {% endif %}

                                        {% endfor %}

                                        {#                                        <li class="page-item"><a href="#" class="page-link">01</a></li>#}
                                        {#                                        <li class="page-item active"><a href="#" class="page-link">02</a></li>#}
                                        {#                                        <li class="page-item"><a href="#" class="page-link">03</a></li>#}
                                        {#                                        <li class="page-item"><a href="#" class="page-link">04</a></li>#}
                                        {#                                        <li class="page-item"><a href="#" class="page-link">09</a></li>#}
                                        {% if blogs.has_next %}
                                            <li class="page-item">
                                                {% if request.GET.q %}
                                                    <a href="{% url 'shadownetz_blog:index' %}?q={{ request.GET.q }}&page={{ blogs.next_page_number}}" class="page-link" aria-label="Next">
                                                {% else %}
                                                    <a href="{% url 'shadownetz_blog:index' %}?page={{ blogs.next_page_number}}" class="page-link" aria-label="Next">
                                                {% endif %}

                                                <span aria-hidden="true">
                                                        <span class="lnr lnr-chevron-right"></span>
                                                    </span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>

                                {% endif %}

                            </nav>

                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form role="form" method="get" action="{% url 'shadownetz_blog:index' %}">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Posts" name="q">
                                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                    </div><!-- /input-group -->
                                </form>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle img-fluid" src="{% static 'blog/img/blog/author.png' %}" alt="">
                                <h4>Okwuzu Jude</h4>
                                <p>Web Developer</p>
                                <div class="social_icon">
                                    <a href="https://www.facebook.com/shadownetz" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/okwuzuchiagozie" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://github.com/shadownetz" target="_blank"><i class="fa fa-github"></i></a>
                                    <a href="https://www.instagram.com/shadownetz/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </div>
                                <p>
                                    I am a passionate web developer that specializes in the development of
                                    web sites of any sorts. Life as a developer have not been easy but on
                                    the long run we always love our job. Cheers!
                                </p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget">
                                <a href="#">
{#                                    <img class="img-fluid" src="{% static 'blog/img/blog/add.jpg' %}" alt="">#}
                                    <!-- Adsterra 320 x 250px ad banner-->
                                    <script type="text/javascript">
                                        atOptions = {
                                            'key' : '028884f6be0d89638c082ea1048f6341',
                                            'format' : 'iframe',
                                            'height' : 250,
                                            'width' : 300,
                                            'params' : {}
                                        };
                                        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.hiprofitnetworks.com/028884f6be0d89638c082ea1048f6341/invoke.js"></scr' + 'ipt>');
                                    </script>
                                </a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Popular Posts</h3>
                                {% if popular_post_developer_hub %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_developer_hub.display_image }}')"></div>
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_developershub:display_blog' %}?post-id={{ popular_post_developer_hub.id }}"><h3>{{ popular_post_developer_hub.title }}</h3></a>
                                            <p>{{ popular_post_developer_hub.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if popular_post_food %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_food.display_image }}')"></div>
                                        {#                                        <img src="{{ popular_post_food.display_image }}" alt="post">#}
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_foodblog:display_blog' %}?post-id={{ popular_post_food.id }}"><h3>{{ popular_post_food.title }}</h3></a>
                                            <p>{{ popular_post_food.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if popular_post_movies %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_movies.display_image }}')"></div>
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_movieblog:display_blog' %}?post-id={{ popular_post_movies.id }}"><h3>{{ popular_post_movies.title }}</h3></a>
                                            <p>{{ popular_post_movies.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if popular_post_social_life %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_social_life.display_image }}')"></div>
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_social_life:display_blog' %}?post-id={{ popular_post_social_life.id }}"><h3>{{ popular_post_social_life.title }}</h3></a>
                                            <p>{{ popular_post_social_life.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if popular_post_sport %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_sport.display_image }}')"></div>
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_sports:display_blog' %}?post-id={{ popular_post_sport.id }}"><h3>{{ popular_post_sport.title }}</h3></a>
                                            <p>{{ popular_post_sport.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if popular_post_trending %}
                                    <div class="media post_item">
                                        <div class="post-img" style="background-image: url('{{ popular_post_trending.display_image }}')"></div>
                                        <div class="media-body">
                                            <a href="{% url 'shadownetz_blog:shadownetz_trendingblog:display_blog' %}?post-id={{ popular_post_trending.id }}"><h3>{{ popular_post_trending.title }}</h3></a>
                                            <p>{{ popular_post_trending.date_created|timesince }} ago</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget ads_widget">
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'blog/img/blog/add.jpg' %}" alt="">
                                </a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Post Catgories</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_developershub:index' %}" class="d-flex justify-content-between">
                                            <p>Developers Hub</p>
                                            <p>{{ count_dev_hub_post }}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_social_life:index' %}" class="d-flex justify-content-between">
                                            <p>Social Life</p>
                                            <p>{{ count_social_life_post }}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_foodblog:index' %}" class="d-flex justify-content-between">
                                            <p>Food</p>
                                            <p>{{ count_food_post }}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_sports:index' %}" class="d-flex justify-content-between">
                                            <p>Sports</p>
                                            <p>{{ count_sport_post }}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_movieblog:index' %}" class="d-flex justify-content-between">
                                            <p>Movies</p>
                                            <p>{{ count_movies_post }}</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shadownetz_blog:shadownetz_trendingblog:index' %}" class="d-flex justify-content-between">
                                            <p>Trending</p>
                                            <p>{{ count_trending_post }}</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="br"></div>
                            </aside>
                            <aside class="single-sidebar-widget newsletter_widget">
                                <h4 class="widget_title">Newsletter</h4>
                                <p>
                                    Here, I focus on a range of items and features that we use in life without
                                    giving them a second thought.
                                </p>
                                <div class="form-group d-flex flex-row">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        </div>
                                        <input type="email" class="form-control js_id_email" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                        <input type="hidden" value="{% url 'shadownetz:newslettersignup' %}" id="nwsletterlnk">
                                    </div>
                                    <a href="#" class="bbtns" id="js-newsletterbtn">Subscribe</a>
                                </div>
                                <p class="text-bottom">You can unsubscribe at any time</p>
                                <div class="br"></div>
                            </aside>
                            {#                            <aside class="single-sidebar-widget tag_cloud_widget">#}
                            {#                                <h4 class="widget_title">Tag Clouds</h4>#}
                            {#                                <ul class="list">#}
                            {#                                    <li><a href="#">Technology</a></li>#}
                            {#                                    <li><a href="#">Fashion</a></li>#}
                            {#                                    <li><a href="#">Architecture</a></li>#}
                            {#                                    <li><a href="#">Fashion</a></li>#}
                            {#                                    <li><a href="#">Food</a></li>#}
                            {#                                    <li><a href="#">Technology</a></li>#}
                            {#                                    <li><a href="#">Lifestyle</a></li>#}
                            {#                                    <li><a href="#">Art</a></li>#}
                            {#                                    <li><a href="#">Adventure</a></li>#}
                            {#                                    <li><a href="#">Food</a></li>#}
                            {#                                    <li><a href="#">Lifestyle</a></li>#}
                            {#                                    <li><a href="#">Adventure</a></li>#}
                            {#                                </ul>#}
                            {#                            </aside>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
    {% endif %}


{% endblock %}